<%- include("partials/header.ejs") %>
<div class = "breadcrumb-trail">
    <div class ="breadcrumb-el">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"/></svg>
        <a href = "/user_home.ejs" style="text-decoration: none;">Main Page</a>
    </div>
</div>

<div class = "add-new-book-container">`
    <form action="/create_new_post.ejs" method="post">
        <button type ="submit" class = "add-new-book"  type="submit"  name ="user_id" value = <%=user_id%>><p style="font-size: 7vh; font-weight:normal; margin-bottom: 0;">+</p> ADD A NEW BOOOK</button>
    </form>
</div>


<%if(user_posts.length > 0){ %>
    <%user_posts.forEach((post) => {%>
        <div class = "book-container">
            <div class = "top-information">
                <%if (post.img_url != "https://covers.openlibrary.org/b/olid/undefined-L.jpg"){%>
                    <img src = "<%=post.img_url%>" width="300px">
                <%}else{%>
                    <img src = "assets/images/cover_not_available.jpg" width="300px">
                <%}%>
                <div class = "book-info-container">
                    <div class = "book-info">
                        <div class = "info-title">Title:</div> <div><%=post.title%></div>
                        <div class = "info-title">By:</div> <div><%=post.author%></div>
                        <div class = "info-title">Finished reading:</div> <div><%=post.read%></div>
                        <div class = "info-title">Rating</div> <div><%=post.rating%>/10</div>
                    </div>
                </div>
            </div>
            <p class = "notes-header">Notes:</p>
            <div class = "notes-container">
                <div class = notes>
                    <p>
                        <%=post.notes%>
                    </p>
                
                    <div class = "d-flex justify-content-end gap-2 mb-3">
                        <form action = "/edit_post" method="POST">
                            <button type = "submit" class="btn btn-primary" name = "edit_post_id" value = "<%=post.id%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
                                </svg>
                                Edit
                            </button>
                        </form>   
                        <form action = "/del_post" method="POST">
                            <button type = "submit" class="btn btn-outline-danger" name = "delete_post_id" value = "<%=post.id%>">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                </svg>
                                Delete
                            </button>
                        </form> 
                    </div>
                </div>
            </div>
            
        </div>
        <hr class = "book-separator">
        <%})%>
<%}else{%>
    <div class = "no-photo-container">
        <img src = "assets/images/no_posts.png" width="700px" style="margin-bottom: 50px;">
        <hr class = "book-separator">
    </div>
    
<%}%>

<%- include("partials/footer.ejs") %>